.top {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: orangered;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.btn_top {
    height: 28px;
    border-color: orangered;
    color: orangered;
}

.search {
    width: 300px;
}

.top :hover {
    color: red;
}

@keyframes shop_name {
    10% {
        color: red;
    }
    50% {
        color: rgb(243, 149, 149);
    }
    70% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-moz-keyframes shop_name {
    10% {
        color: red;
    }
    50% {
        color: rgb(243, 149, 149);
    }
    70% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-o-keyframes shop_name {
    10% {
        color: red;
    }
    50% {
        color: rgb(243, 149, 149);
    }
    70% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-webkit-keyframes shop_name {
    10% {
        color: red;
    }
    50% {
        color: rgb(243, 149, 149);
    }
    70% {
        color: blue;
    }
    100% {
        color: red;
    }
}

.shop_name {
    animation-name: shop_name;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-left: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.btn_menu {
    border: none;
    color: blanchedalmond;
    margin-left: 10px;
    width: max-content;
    background-color: darkgreen;
}

.menu_1 {
    background-color: darkgreen;
    display: flex;
    align-items: baseline;
    align-items: flex-start;
}

.menu_all {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu_2 {
    display: flex;
}

.menu_3 {
    margin-top: 10px;
    width: 180px;
}

.menu_4 {
    width: 210px;
    margin-top: 10px;
}

.dropdown-toggle {
    margin-top: 10px;
}

.menu_book {
    list-style: none;
    float: left;
}

.product {
    width: 20%;
}

.all_product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}